* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  height: 45px;
  width: 100%;
  background: #333333;
}

.header-container {
  width: 85%;
  margin: auto;
}

.header-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.header-list-link a {
  text-decoration: none;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  height: 120px;
  width: 100%;
  background: #F6F6F6;
  overflow: hidden;
}

.header-icon-container {
  position: absolute;
  /*margin: auto;*/
  width: 100%;
  top: 50%;
  right: 50%;
  transform: translateX(65%) translateY(-50%);
  /*white-space: nowrap;*/
  overflow: hidden;
}

.header-icon-list {
  display: inline-block;
  list-style: none;
  overflow: hidden;
}

.header-icon-list a {
  text-decoration: none;
  color: #333333;
}

.header-icons {
  float: left;
  width: 100px;
  font-size: 14px;
  position: relative;
  margin: 0;
  text-align: center;

}

.header-icons img {
  display: block;
  margin: auto;
}

.heading {
  text-align: center;
  line-height: 18px;
  width: 60%;
  margin: auto;
  padding: 50px;
  padding-bottom: 0px;
}

.heading h3 {
  font-size: 28px;
}

.heading h1 {
  font-size: 52px;
}

.macbook-pro-heading-img {
  position: relative;
  background: url('http://images.apple.com/v/mac/home/u/images/home/macbookpro_medium_2x.png');
  height: 400px;
  width: 100%;
  background-size: cover;
}

.link-to-buy {
  width: 80%;
  text-align: center;
  margin: auto;
}

.link-to-buy a {
  text-decoration: none;
  color: black;
}

.macbook-learn {
  display: inline-block;
  margin: 0px 20px 0px 20px;
}

.macbook-heading-img {
  position: relative;
  background: url('http://images.apple.com/v/mac/home/u/images/home/macbook_medium_2x.png') no-repeat;
  height: 400px;
  width: 80%;
  margin: auto;
  background-size: contain;
  background-position: center;
}

.imac-heading-img {
  position: relative;
  background: url('http://images.apple.com/v/mac/home/u/images/home/imac_large.png') no-repeat;
  height: 400px;
  width: 80%;
  margin: auto;
  background-size: contain;
  background-position: center;
}

.imac-heading h3 {
  font-size: 24px;
}

.imac-heading h1 {
  font-size: 36px;
}

.imac-heading {
  text-align: center;
  line-height: 18px;
  width: 70%;
  margin: auto;
  padding: 50px;
  padding-bottom: 0px;
}

.compare-heading-img {
  position: relative;
  background: url('http://images.apple.com/v/mac/home/u/images/home/compare_large.png') no-repeat;
  height: 400px;
  width: 60%;
  margin: auto;
  background-size: contain;
  background-position: center;
}

.shipping {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-top: 30px;
  border-top: 1px solid black;
}

.receive {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 15px;
  width: 300px;
}

.accessories-heading-img {
  position: relative;
  background: url('http://images.apple.com/v/mac/home/u/images/home/accessories_medium_2x.png') no-repeat;
  height: 400px;
  width: 100%;
  margin: auto;
  background-size: cover;
  background-position: center;
}
